*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font: 16px/1 Arial, sans-serif;
  background: #555;
  color: #000; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

input {
  outline: none; }

img {
  max-width: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.wrapper {
  width: 342px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid grey;
  background-color: #ccc; }

.header {
  padding: 10px 0;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid grey;
  color: grey; }
  .header--main {
    display: block; }
  .header--unbordered {
    border-bottom: none; }

.entry {
  display: none;
  padding: 15px; }
  .entry__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
    outline: none; }
    .entry__input:focus {
      border-color: blue; }
  .entry__divide {
    margin: 15px 0; }

.sides {
  display: none;
  margin-bottom: 12px; }
  .sides__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    height: 125px;
    margin: 0 auto; }
  .sides__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    cursor: pointer; }
    .sides__side:hover {
      background-color: #bfbfbf; }
    .sides__side:active {
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
              box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }
    .sides__side:first-child {
      margin-right: 10px; }

.modes {
  display: none; }
  .modes::before {
    content: '';
    display: block;
    height: 1px;
    margin-bottom: 5px;
    background-color: gray; }
  .modes__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px 10px; }
  .modes__mode {
    width: 50%; }
    .modes__mode:first-child {
      margin-right: 10px; }
  .modes__input {
    display: none; }
  .modes__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    color: grey;
    text-align: center;
    cursor: pointer; }
  .modes__input:checked + .modes__label {
    background-color: #1a1aff;
    color: #ccc; }
  .modes__input:not(:checked):hover + .modes__label {
    background-color: #bfbfbf;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

.btn {
  width: 48%;
  padding: 9px 0;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  border-bottom: 2px solid;
  -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
          box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19); }
  .btn:active {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
  .btn:disabled {
    border: 1px solid #999;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #ccc;
    color: #666;
    cursor: default; }
    .btn:disabled:hover {
      background-color: #ccc; }
  .btn--leave {
    background-color: orange;
    border-bottom-color: #cc8400; }
    .btn--leave:hover {
      background-color: #e69500; }
  .btn--resign {
    background-color: red;
    border-bottom-color: #c00; }
    .btn--resign:hover {
      background-color: #e60000; }
  .btn--new {
    margin-bottom: 10px;
    background-color: blue;
    border-bottom-color: #00c; }
    .btn--new:hover {
      background-color: #0000e6; }
  .btn--reset {
    margin-bottom: 30px;
    background-color: green;
    border-bottom-color: #004d00; }
    .btn--reset:hover {
      background-color: #006700; }

.btn-mode {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: blue; }
  .btn-mode:last-child {
    margin-bottom: 0; }
  .btn-mode:hover {
    background-color: #00c; }
  .btn-mode:disabled {
    background-color: #66f;
    cursor: default; }
    .btn-mode:disabled:hover {
      background-color: #66f; }

.main-game {
  display: none;
  padding: 15px; }

.points {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  table-layout: fixed; }
  .points__title, .points__value {
    width: 40%;
    padding: 5px 0;
    text-align: center;
    font-weight: 300;
    border: 1px solid #000; }
    .points__title--tie, .points__value--tie {
      width: 20%; }

.info {
  display: none;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 300; }

.board {
  width: 100%;
  height: 308px;
  margin-bottom: 15px;
  border-collapse: collapse; }
  .board__item {
    width: calc(100% / 3);
    height: calc(100% / 3);
    padding: 0;
    border: 1px solid #000;
    cursor: pointer; }
    .board__item:hover {
      background-color: #bfbfbf; }

.circle-element {
  width: 75%;
  height: 75%;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #000; }

.cross-element {
  width: 100%;
  background-color: #000;
  height: 1px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
  .cross-element::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #000;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.winner {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 308px;
  margin-bottom: 15px;
  border-radius: 10%; }
  .winner__result {
    margin: auto 0;
    color: #fff; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

@media screen and (max-width: 400px) {
  body {
    background-color: #ccc; }
  .wrapper {
    width: 300px;
    border: none; }
  .board,
  .winner {
    height: 270px; }
  .sides__wrapper {
    width: 190px;
    height: 90px; }
  .modes__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .modes__mode {
    width: 100%; }
    .modes__mode:first-child {
      margin-bottom: 10px; } }

